<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h2>NOTA</h2></ion-title>
    <ion-icon slot="end" (click)="salesCustEdit(sales_cust_id)" name="create-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- //https://stackoverflow.com/questions/42756322/how-to-make-an-ionic-list-scrollable -->
  <div scrolly="true" style="max-height:84%">
    <ion-list style="margin: 5px 5px 0 5px;">
      
        <div style="padding: 0 15px 10px 15px">
          <label style="margin-bottom: 15px"><b>Customer : &nbsp;&nbsp;&nbsp;{{ sales_cust_name }}</b></label>
        </div>
        
        <div style="padding: 0 15px 15px 15px">
          <label style="margin-top: 70px; margin-bottom: 10px;"><b>Nomor Nota : &nbsp;&nbsp;{{ sales_nomor_nota }}</b></label>
        </div>
        
        <span class='line'></span>

        <!-- <hr style="height:1px;background-color:white;margin: 0 5px 10px 5px;"> -->

        <ion-item style="padding-bottom: 10px; padding-top: 10px;">
          <ion-input style="width: 15%" [(ngModel)]="input_item1qty" type="number"
          (ionInput)="onItem1QtyChange($event)">{{ item1_name }}</ion-input>
          <ion-input style="width: 20%; text-align: right;" [(ngModel)]="input_item1price" type="number"
          (ionInput)="onItem1PriceChange($event)" readonly>Price</ion-input>
          <ion-input style="width: 15%; margin-left: 75px;" [(ngModel)]="input_item2qty" type="number"
          (ionInput)="onItem2QtyChange($event)">{{ item2_name }}</ion-input>
          <ion-input style="width: 20%; text-align: right;" [(ngModel)]="input_item2price" type="number"
          (ionInput)="onItem2PriceChange($event)" readonly>Price</ion-input>
        </ion-item>
        
        <ion-item style="padding-bottom: 10px;">
          <ion-input style="width: 15%" [(ngModel)]="input_item3qty" type="number"
          (ionInput)="onItem3QtyChange($event)">{{ item3_name }}</ion-input>
          <ion-input style="width: 20%; text-align: right;" [(ngModel)]="input_item3price" type="number"
          (ionInput)="onItem3PriceChange($event)" readonly>Price</ion-input>
          <ion-input style="width: 15%; margin-left: 75px;" [(ngModel)]="input_item5qty" type="number"
          (ionInput)="onItem5QtyChange($event)">{{ item5_name }}</ion-input>
          <ion-input style="width: 20%; text-align: right;" [(ngModel)]="input_item5price" type="number"
          (ionInput)="onItem5PriceChange($event)" readonly>Price</ion-input>
        </ion-item>
        
        <ion-item style="padding-bottom: 10px;">
          <ion-input *ngIf="ware_id !== 2" style="width: 15%" [(ngModel)]="input_item4qty" type="number"
          (ionInput)="onItem4QtyChange($event)">{{ item4_name }}</ion-input>
          <ion-input *ngIf="ware_id !== 2" style="width: 20%; text-align: right; margin-right: 75px;" [(ngModel)]="input_item4price" type="number"
          (ionInput)="onItem4PriceChange($event)" readonly>Price</ion-input>
          <ion-input style="width: 35%; font-weight: bold;" [(ngModel)]="input_totalkeseluruhan" type="text" readonly>Total</ion-input>
        </ion-item>
        
        <!-- <hr style="height:1px;background-color:white;margin: 0 5px 10px 5px;"> -->
         
        <span class='line'></span>
        
        <div style="padding: 0 15px 7px 15px">
          <table>
            <tr>
              <td style="width: 56%; padding: 0 55px 0 0;" rowspan="2">
                <label for="input_pay_type">Cash / BB</label>
                <ion-radio-group id="input_pay_type" [(ngModel)]="input_payment_type">
                  <ion-item>
                    <ion-radio [value]="1">• Cash</ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-radio [value]="2">• BB</ion-radio>
                  </ion-item>
                </ion-radio-group>
              </td>
              <td style="width: 44%; padding: 10px 0 0 0;">
                <ion-input [(ngModel)]="input_BB" (ionInput)="onBBChange($event)" type="text">Tagihan BB</ion-input>
              </td>
            </tr>
            <tr>
              <td>
                <ion-input [(ngModel)]="input_credit" (ionInput)="onCreditChange($event)" type="text">Tagihan Credit</ion-input>
              </td>
            </tr>
          </table>
        </div>
        
    </ion-list>
  </div>
  <!-- align to the bottom of the page -->
  <div style="position: absolute; bottom: 0px; width: 100%; padding: 0 10px 10px 10px">
    <table style="width: 100%;">
      <tr>
        <td>
          <ion-button expand="block" (click)="saveOnly()"><b>Simpan</b></ion-button>
        </td>
        <td>
          <ion-button expand="block" (click)="saveAndPrint()"><b>Print</b></ion-button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <ion-button expand="block" (click)="saveAndBack()"><b>Simpan dan Kembali</b></ion-button>
        </td>
      </tr>
    </table>
  </div>
</ion-content>
