<ion-header>
  <ion-toolbar>
    <ion-title>Ganti Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Password Lama</ion-label>
      <ion-input [(ngModel)]="old_password" type="password" formControlName="oldPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password Baru</ion-label>
      <ion-input [(ngModel)]="new_password" type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-note *ngIf="passwordForm.get('newPassword')!.invalid && passwordForm.get('newPassword')!.dirty" color="danger">
      Kata sandi harus berisi minimal satu huruf kecil, satu huruf besar, satu angka, satu karakter khusus, dan panjangnya minimal 8 karakter.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input [(ngModel)]="confirm_password" type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-note *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword')!.dirty" color="danger">
      Password tidak cocok.
    </ion-note>

    <ion-button type="submit" [disabled]="passwordForm.invalid" id="btn-submit">Simpan Password Baru</ion-button>
  </form>
</ion-content>
