<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Old Password</ion-label>
      <ion-input type="password" formControlName="oldPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-note *ngIf="passwordForm.get('newPassword')!.invalid && passwordForm.get('newPassword')!.dirty" color="danger">
      Password must contain at least one lowercase letter, one uppercase letter, one number, one special character, and be at least 8 characters long.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-note *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword')!.dirty" color="danger">
      Passwords do not match.
    </ion-note>

    <ion-button type="submit" [disabled]="passwordForm.invalid">Save New Password</ion-button>
  </form>
</ion-content>
