
<!-- https://forum.ionicframework.com/t/ion-items-not-clickable-as-button-in-content-of-ion-menu/179115/5 -->
<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-menu-toggle>
        <ion-item button (click)="finish()" id="btn-finish">Selesai</ion-item> 
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button (click)="history()">Riwayat</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button (click)="changePassword()">Ganti Password</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button id="btn-searcprinter" (click)="searchPrinter()">Cari Printer</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button id="btn-signout">Sign Out</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- https://ionicframework.com/docs/api/alert#buttons -->
<!-- <ion-alert
  trigger="btn-finish"
  header="Anda yakin untuk selesai?"
  [buttons]="buttonFinishAlert"
></ion-alert> -->
<ion-alert
  trigger="btn-signout"
  header="Anda yakin akan Sign Out?"
  [buttons]="buttonSignOutAlert"
></ion-alert>
<ion-alert
  *ngIf="doc_no == '' && start00flag==1"
  trigger="btn-start"
  header="Anda yakin mau memulai?"
  [buttons]="buttonStartAlert"
></ion-alert>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <ion-title><h2>Halaman Utama</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="btn-start00" (click)="start00()" style="width: 90%; margin: 15px 15px 3px 15px; height: 20px;">MULAI</ion-button>
  
  <table style="width: 90%; margin: 10px 15px 15px 20px; font-size:large;">
    <tr>
      <td style="width: 25%;">Doc. No</td>
      <td>:</td>
      <td style="padding-left: 5px">{{ doc_no }}</td>
    </tr>
    <tr>
      <td style="width: 25%;">User</td>
      <td>:</td>
      <td style="padding-left: 5px">{{ userlogin }} - {{ ware_city }}</td>
    </tr>
  </table>

  <!-- <div style="width: 90%; margin: 0 15px 15px 15px; padding-left: 5px">
    <H3>&nbsp;&nbsp;&nbsp;: A24050001<br>user&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: sales01</H3>
  </div> -->
  <table  style="width: 90%; margin: 0px 15px 10px 15px">
    <tr>
      <td style="width: 50%">
        <ion-button id="btn-biaya" (click)="biaya()" style="width: 100%; padding-right: 10px">Biaya</ion-button>
      </td>
      <td style="width: 50%">
        <ion-button id="btn-sales" (click)="sales()" style="width: 100%; padding-left: 10px;">PENJUALAN</ion-button>
      </td>
    </tr>
  </table>
<!--  -->
  <div *ngIf="doc_no == '' && start00flag==1"
  style="margin: 0px 15px 5px 15px; "
  id="start00_form">
    <ion-list>
      <ion-item>
        <ion-select style="width: 40%; margin-right: 20px;" [(ngModel)]="sales_id1" interface="popover" label="Sales 1">
          <ion-select-option *ngFor="let item of DaftarMarketing" [value]="item.sales_id">
            {{ item.sales_name }}
          </ion-select-option>
        </ion-select>
        <ion-select style="width: 40%;" [(ngModel)]="sales_id2" interface="popover" label="Sales 2">
          <ion-select-option *ngFor="let item of DaftarMarketing" [value]="item.sales_id">
            {{ item.sales_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select style="width: 40%; margin-right: 20px;" [(ngModel)]="sales_id3" interface="popover" label="Sales 3">
          <ion-select-option *ngFor="let item of DaftarMarketing" [value]="item.sales_id">
            {{ item.sales_name }}
          </ion-select-option>
        </ion-select>
        <ion-select style="width: 40%;" [(ngModel)]="truck_id" interface="popover" label="Truck">
          <ion-select-option *ngFor="let item of DaftarTruck" [value]="item.truck_id">
            {{ item.truck_nopol }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <span class='line'></span>
      <ion-item>
        <ion-input style="width: 40%; margin-right: 43px;" type="number" [(ngModel)]="input_item1SJE"
        (ionInput)="onItem1SJEChange($event)">
          SJE B5
        </ion-input>
        <ion-input style="width: 40%;" type="number" [(ngModel)]="input_item2SJE"
        (ionInput)="onItem2SJEChange($event)">
          SJE B10
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input style="width: 40%; margin-right: 43px;" type="number" [(ngModel)]="input_item3SJE"
        (ionInput)="onItem3SJEChange($event)">
          SJE B20
        </ion-input>
        <ion-input style="width: 40%;" type="number" [(ngModel)]="input_item5SJE"
        (ionInput)="onItem5SJEChange($event)">
          SJE C10
        </ion-input>
      </ion-item>
      <ion-item *ngIf="ware_id !== 2">
        <ion-input style="width: 40%; margin-right: 43px;" type="number" [(ngModel)]="input_item4SJE"
        (ionInput)="onItem4SJEChange($event)">
          SJE K10
        </ion-input>
      </ion-item>
      <ion-button id="btn-start" style="width: 90%; margin: 15px 15px 3px 15px; height: 20px;">MULAI</ion-button>
      <ion-button id="btn-cancelstart" (click)="cancelStart()" style="width: 90%; margin: 10px 15px 3px 15px; height: 20px;">BATAL</ion-button>
    </ion-list>
  </div>
  
  <div *ngIf="doc_no !== ''"
  style="width: 90%; height: 70%; margin: 0px 15px 15px 20px; 
  background-color: black;
  overflow: scroll;"
  >
    <h1 style="margin-top: 1px;">Summary</h1>
    <table *ngIf="doc_no !== ''" style="font-size: large; width: 100%;">
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          Harga Rata"/kg
        </td>
        <td style="width: 10%; text-align: left;">
          :
        </td>
        <td style="width: 45%;">
          {{ harga_rata2_perkg | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          Total Cash
        </td>
        <td style="width: 10%; text-align: left;">
          :
        </td>
        <td style="width: 45%;">
          {{ sum_cash | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          Total BB
        </td>
        <td style="width: 10%; text-align: left;">
          :
        </td>
        <td style="width: 45%;">
          {{ sum_BB | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          Total CR
        </td>
        <td style="width: 10%; text-align: left;">
          :
        </td>
        <td style="width: 45%;">
          {{ sum_CR | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          Tag. BB
        </td>
        <td>
          :
        </td>
        <td>
          {{ sum_tagihan_BB | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          Tag. Credit
        </td>
        <td>
          :
        </td>
        <td>
          {{ sum_tagihan_credit | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          Biaya
        </td>
        <td>
          :
        </td>
        <td>
          {{ sum_biaya | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          B5
        </td>
        <td>
          :
        </td>
        <td>
          ({{ item1_totalqty | number: '':'en' }}) {{ sum_item1 | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          B10
        </td>
        <td>
          :
        </td>
        <td>
          ({{ item2_totalqty | number: '':'en' }}) {{ sum_item2 | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          B20
        </td>
        <td>
          :
        </td>
        <td>
          ({{ item3_totalqty | number: '':'en' }}) {{ sum_item3 | number: '':'en' }}
        </td>
      </tr>
      <tr *ngIf="ware_id !== 2">
        <td>
          K10
        </td>
        <td>
          :
        </td>
        <td>
          ({{ item4_totalqty | number: '':'en' }}) {{ sum_item4 | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          C10
        </td>
        <td>
          :
        </td>
        <td>
          ({{ item5_totalqty | number: '':'en' }}) {{ sum_item5 | number: '':'en' }}
        </td>
      </tr>
      
      <tr>
        <td>
          SJE B5
        </td>
        <td>
          :
        </td>
        <td>
          {{ item1_SJE | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          SJE B10
        </td>
        <td>
          :
        </td>
        <td>
          {{ item2_SJE | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          SJE B20
        </td>
        <td>
          :
        </td>
        <td>
          {{ item3_SJE | number: '':'en' }}
        </td>
      </tr>
      <tr *ngIf="ware_id !== 2">
        <td>
          SJE K10
        </td>
        <td>
          :
        </td>
        <td>
          {{ item4_SJE | number: '':'en' }}
        </td>
      </tr>
      <tr>
        <td>
          SJE C10
        </td>
        <td>
          :
        </td>
        <td>
          {{ item5_SJE | number: '':'en' }}
        </td>
      </tr>

    </table>
  </div>
</ion-content>
